<div id="contact">
  <h1 id="contact-header">Let's talk!</h1>
  <div id="contact-main">
    <form id="contact-left">
      <div class="form-row">
        <div class="form-group">
          <label for="">first name</label>
          <input type="text" id="contact-left-form-fname" required>
        </div>
        <div class="form-group">
          <label for="">second name</label>
          <input type="text" id="contact-left-form-lname" required>
        </div>
      </div>
      <div class="form-group">
        <label for="">email</label>
        <input type="email" id="contact-left-form-email" required>
      </div>
      <div class="form-group">
        <label for="">message</label>
        <textarea name="" id="contact-left-form-message" cols="30" rows="10" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit">send</button>
      </div>
      <div id="contact-left-overlay-success">
        <div id="contact-left-overlay-success-img"></div>
        <div id="contact-left-overlay-success-msg">Your mail has been sent successfully!</div>
        <div id="contact-left-overlay-success-button-group">
          <span>forgot about something?</span>
          <button>write one more</button>
        </div>
      </div>
      <div id="contact-left-overlay-failure">
        <div id="contact-left-overlay-failure-img"></div>
        <div id="contact-left-overlay-failure-msg"> Mail could not be sent.</div>
        <div id="contact-left-overlay-failure-button-group">
          <span>Thats Embarrassing!</span>
          <button>try again</button>
        </div>
      </div>
    </form>
    <div id="contact-right">
      <div class="row">
        <img src="./../media/skype-icon.svg" alt="the logo icon of skype" class="icon">
        <div class="content">dawid3124</div>
      </div>
      <div class="row">
        <img src="./../media/telephone-icon.svg" alt="icon representing a phone" class="icon">
        <div class="content">+49 1762 4482712</div>
      </div>
        <div class="row">
        <img src="./../media/email-icon.svg" alt="icon representing an email" class="icon">
        <div class="content">dcz31249@gmail.com</div>
      </div>
    </div>
    <div id="contact-bottom">
      <div class="social-icon">
        <div id="contact-bottom-info">also @</div>
        <a href="" target="_blank">
          <img src="./../media/linkedin.svg" alt="linkedin social icon">
        </a>
      </div>
      <div class="social-icon">
        <a href="http://github.com/taximan/" target="_blank">
          <img src="./../media/github.svg" alt="github social icon">
        </a>
      </div>
      <div class="social-icon">
        <a href="https://www.reddit.com/user/otheranotherx" target="_blank">
          <img src="./../media/reddit.svg" alt="reddit social icon">
        </a>
      </div>
    </div>
  </div>

</div>