<div id="work">
  <h1 id="work-header">Stuff I want to share with you</h1>
  <ul id="work-cards">
    <li class="card">
      <div class="card-top">
        <img class="card-background" src="./../media/codepen.png">
        <div class="card-title">Codepen stuff</div>
      </div>
      <div class="card-bottom">
        <p class="card-description">
          My personal experiments lab. Some CSS fun, JS & canvas math magic.
        </p>
        <a class="card-button" href="http://codepen.io/taximan/" target="_blank">
          Check it out!
        </a>
      </div>
    </li>
    <li class="card">
      <div class="card-top">
        <img class="card-background" src="./../media/angular-crud.png">
        <div class="card-title">Angular CRUD</div>
      </div>
      <div class="card-bottom">
        <p class="card-description">
          Small reddit-like social site with lots of under the hood. Backed by koa & angular.
        </p>
        <a class="card-button" href="https://github.com/taximan/leddit" target="_blank">
          Check it out!
        </a>
      </div>
    </li>
    <li class="card">
      <div class="card-top">
        <img class="card-background" src="http://placekitten.com/g/300/350">
        <div class="card-title">To be filled</div>
      </div>
      <div class="card-bottom">
        <p class="card-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, explicabo a maiores.
        </p>
        <a class="card-button" href="#">
          Check it out!
        </a>
      </div>
      <li class="card">
      <div class="card-top">
        <img class="card-background" src="http://placekitten.com/g/300/350">
        <div class="card-title">To be filled</div>
      </div>
      <div class="card-bottom">
        <p class="card-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, explicabo a maiores.
        </p>
        <a class="card-button" href="#">
          Check it out!
        </a>
      </div>
      <li class="card">
      <div class="card-top">
        <img class="card-background" src="http://placekitten.com/g/300/350">
        <div class="card-title">To be filled</div>
      </div>
      <div class="card-bottom">
        <p class="card-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, explicabo a maiores.
        </p>
        <a class="card-button" href="#">
          Check it out!
        </a>
      </div>
      <li class="card">
      <div class="card-top">
        <img class="card-background" src="http://placekitten.com/g/300/350">
        <div class="card-title">To be filled</div>
      </div>
      <div class="card-bottom">
        <p class="card-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, explicabo a maiores.
        </p>
        <a class="card-button" href="#">
          Check it out!
        </a>
      </div>
    </li>
  </ul>
</div>
