#aboutme {
  max-width: 1080px;
  margin: 0 auto;
  min-height: 900px;
    
  #aboutme-title {
    font-family: 'Lobster';  
    display: block;
    width: 100%;
    font-size: responsive 40px 80px;  
    text-align: center;
    
  }
  
  #aboutme-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
        
    #aboutme-portrait {
      width: 400px;
      #aboutme-portrait-img-wrapper {
       text-align: center;
        img {
         width: 400px;
         height: 400px;
         border-radius: 50%; 
        }
        
      }
      
      #aboutme-portrait-description {
        
        h3 {
          display: block;
          width: 100%;
          text-align: center;
          font-weight: normal;
          letter-spacing: 2px;
          font-size: responsive 20px 30px;
          margin: 12px 0;
          padding: 0;
          font-family: 'Lobster';
        }
        p {
          padding: 0 17px;
          font-size: 1.5em;
          text-align: center;
        }
      }
      
    }
    
    #aboutme-details-view {
      width: 400px;
      #aboutme-details-view-json {
        width: 100%;
        background-color: black;
        color: white;
        font-size: responsive 12px 16px;
        pre{padding: 0; margin:0;}
        .string { color: #00C853; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: white; }
      }
      
      #aboutme-details-view-desc {
       display: inline-block;
       background-color: black;
       color: white;
       padding: 4px 20px;
       padding-right: 25px;
       font-family: tahoma;
       border-bottom: 1px dashed rgba(2555, 2555, 2555, 0.3);
       border-top-left-radius: 7px;
       border-top-right-radius: 7px;
      }
    
    }
  }  
}

@media screen and (max-width: 400px) {
  #aboutme-details-view  {
    width: 300px !important;
  }
  
  #aboutme-portrait {
    width: 300px !important;
    
    #aboutme-portrait-img-wrapper {
    
      img {
        width: 300px !important;
        height: 300px !important;
      }
    }
  }
  
}