#contact {
  max-width: 1080px;
  margin: 0 auto;
  
  #contact-header {
    display: block;
    width: 100%;
    text-align: center;
    margin: 6px 0 32px 0;
    padding: 0;
    font-size: responsive 40px 80px;  
    font-family: 'Droid Sans' arial;
  }
  
  #contact-main {
    padding: 12px;
    position: relative;
    
    #contact-nav-thingy {
      position: absolute;
        top: 10px;
        left: calc(50% - 20px);
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #00c853;
    }
    
    form {
      box-shadow: 0 -16px 0 0px #00c853;
      max-width: 800px;
      margin: 0 auto;
      background-color: black;
      color: white;
      padding: 12px;
      
      .form-row {
        display: flex;
        .form-group {
          flex-grow: 1;
          &:nth-child(1) {
            margin-right: 15px;
          }
          &:nth-child(2) {
            margin-left: 15px;
            label {
              text-align: right;
            }
          }
        }
       
      }
      
      @media screen and (max-width: 600px) {
        .form-row {
          display: block !important;
          .form-group {
            margin: 12px 0 !important;
            label {
              text-align: left !important;
            }
          }
        }
      } 
      
      .form-group {
        margin: 12px 0;
        label {
          display: block;
          text-transform: uppercase;
          font-size: 0.7em;
          font-family: 'Droid Sans' Arial;
          margin-bottom: 3px;
          padding-left: 2px;
        }
        
        input, textarea {
          display: block;
          width: 100%;
          outline: none;
          padding: 6px 0;
          padding-left: 3px;
          font-size: 1.1em;
          border: 3px solid darken(#00c853, 10%);
          background-color: black;
          color: white;
          font-family: Arial;
          resize: none;
          &:active, &:focus {
            border: 3px solid #00c853;
          }
        }
        
        button[type="submit"] {
          font-family: Arial;
          display: block;
          width: 100%;
          background-color: #00c853;
          outline: none;
          border: 0;
          color: white;
          padding: 12px;
          text-transform: uppercase;
          font-weight: bold;
          margin: 16px 0 0 0;
          cursor: pointer;
          &:active {
            background-color: darken(#00c853, 10%);
          }
        }
        
      }
      
    }
    
  }
  
}