#contact {
  max-width: 1080px;
  margin: 0 auto;
  
  #contact-header {
    display: block;
    width: 100%;
    text-align: center;
    margin: 52px 0 62px 0;
    padding: 0;
    font-size: responsive 40px 70px;  
    font-family: 'Droid Sans' arial;
  }
  
  #contact-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
    #contact-right {
      max-width: 400px;
      width: 100%;
      padding: 0 50px;
      z-index: 999;
      
      .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 35px 0;
        border-bottom: 1px dashed black;
        padding-bottom: 35px;
        
        &:nth-child(3) {
          border-bottom: none;
        }
        
        img.icon {
          width: 50px;
          height: 50px;  
        }
        
        .content {
          width: 150px;
          height: 50px;
          line-height: 50px;
          font-size: 0.8em;
          font-weight: bold;
          font-family: Arial;
        }
        
        
      }
      
    }   
    
    form#contact-left {
      position: relative;
      max-width: 400px;
      background-color: white;
      color: black;
      padding: 12px;
      
      #contact-left-overlay-success {
        overflow: hidden;
        position: absolute;
        font-family: 'Droid sans';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 200, 83, 0.95);
        color: white;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;
        
        transition: .6s all cubic-bezier(0.42, 0, 0.65, 1.57);
        transform: translateX(-500px);
        opacity: 0;

        &.active {
          transform: translateX(0); 
          opacity: 1;
        }

        #contact-left-overlay-success-img {
          width: 150px;
          height: 150px;
          background-image: url('/email-icon.svg');
          background-size: 100%;
        }

        #contact-left-overlay-success-msg {
          font-size: 1.3em;
          width: 150px;
          text-align: center;
        }

        #contact-left-overlay-success-button-group {
          width: 150px;
          margin-top: 20px;
          text-align: right;

          span {
            font-size: 0.7em;
          }

          button {
            margin-top: 7px;
            background: white;
            border: 4px solid black;
            outline: none;
            font-weight: bold;  
            width: 100%;
            cursor: pointer;
            padding: 12px 0;
            
            &:active {
              background: rgba(0, 200, 83, 1);
              color: white;
              border-color: white;
            }

          }
        }

      }

      #contact-left-overlay-failure {
        overflow: hidden;
        position: absolute;
        font-family: 'Droid sans';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(183, 28, 28, 0.95);
        color: white;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;
        
        transition: .6s all cubic-bezier(0.42, 0, 0.65, 1.57);
        transform: translateX(500px);
        opacity: 0;

        &.active {
          transform: translateX(0); 
          opacity: 1;
        }

        #contact-left-overlay-failure-img {
          width: 150px;
          height: 150px;
          background-image: url('/email-icon.svg');
          background-size: 100%;
        }

        #contact-left-overlay-failure-msg {
          font-size: 1.3em;
          width: 150px;
          text-align: center;
        }

        #contact-left-overlay-failure-button-group {
          width: 150px;
          margin-top: 20px;
          text-align: right;

          span {
            font-size: 0.7em;
          }

          button {
            margin-top: 7px;
            background: white;
            border: 4px solid black;
            outline: none;
            font-weight: bold;  
            width: 100%;
            padding: 12px 0;
            cursor: pointer;

            &:active {
              background: rgba(183, 28, 28, 0.95);
              color: white;
              border-color: white;
            }

          }
        }

      }
       
      .form-row {
        display: flex;
        .form-group {
          flex-grow: 1;
          &:nth-child(1) {
            margin-right: 15px;
          }
          &:nth-child(2) {
            margin-left: 15px;
            label {
              text-align: right;
            }
          }
        }
       
      }
      
      @media screen and (max-width: 600px) {
        .form-row {
          display: block !important;
          .form-group {
            margin: 12px 0 !important;
            label {
              text-align: left !important;
            }
          }
        }
      } 
      
      .form-group {
        margin: 12px 0;
        
        label {
          display: block;
          text-transform: uppercase;
          font-size: 0.7em;
          font-family: 'Droid Sans' Arial;
          margin-bottom: 3px;
          padding-left: 2px;
        }
        
        input, textarea {
          display: block;
          width: 100%;
          outline: none;
          padding: 6px 0;
          padding-left: 3px;
          font-size: 1.1em;
          border: 3px solid darken(#00c853, 10%);
          font-family: Arial;
          resize: none;
          &:active, &:focus {
            border: 3px solid #00c853;
          }
        }
        
        button[type="submit"] {
          font-family: Arial;
          display: block;
          width: 100%;
          background-color: #00c853;
          outline: none;
          border: 0;
          color: white;
          padding: 20px;
          text-transform: uppercase;
          font-weight: bold;
          margin: 16px 0 0 0;
          cursor: pointer;
          &:active {
            background-color: darken(#00c853, 10%);
          }
          &:disabled{
            background-color: #444;
          }
        }
        
      }
      
    }
    
  }
  
}