#footer {
  will-change: transform;
  transform: translateZ(0);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin-top: 30px;
  background-color: black;
  height: 100px;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  
  ul#footer-links {
   list-style: none;
   margin: 0;
   padding: 0;
   width: 100%;
   font-size: 22px;
   font-family: Tahoma;
   color: #00c853;
   text-transform: uppercase; 
   text-align: center;
  
   > li {
     margin: 0 12px;
     padding: 0;
     display: inline-block;
     
     > a {
       text-decoration: none;
       color: inherit;
     }
     
   }
    
  }
  
  #footer-note {
    width: 100%;
    text-align: center;
  }
  
  
  
}
