#landing {
  position: relative;
  min-height: 600px !important;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
  
  #landing-bg {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    max-height: 100vh;
    
    canvas {
       display: block;
       background-color: transparent;
       position: absolute;
       top: 0;
       left: 0;
    }
    
  }
  
  #landing-heading {
    width: 300px;
    z-index: 999;
    position: absolute;
    top: 20vh;
    left: calc(50vw - 150px);
    font-family: Arial;
    color: white;
    text-shadow: 1px 1px 3px black;
    
    #lading-heading-title {
     font-size: responsive 40px 50px;
     line-height: .95;
     .highlight {
       font-family: tahoma;
     }
     
     #landing-heading-bullshit {
       margin: 35px 0;
       display: block;
       color: black;
       padding: 16px 0;
       padding-left: 5px;
       text-shadow: none;
       font-weight: bold;
       font-family: 'Droid Sans', sans-serif;
       font-size: responsive 40px 55px;
       background-color: white;
      #landing-heading-bullshit-blinky {
        margin-left: -12px;  
      }
       
     }
      
    }
    
    #landing-call-to-action {
      margin-top: 35px;
      display: block;
      width: 100%;
      background: #00C853;
      border: 5px solid #00C853;
      color: white;
      padding: 16px 0;
      font-size: 20px;
      outline: none;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      // border-radius: 7px;
      
      &:active {
        background-color: #0A8E41;
        border-color: #0A8E41;
      }
      
    }
    
    
  }
  
}