#work {
  max-width: 1080px;
  margin: 0 auto;
  min-height: 600px;
  
  #work-header{ 
    font-family: 'Droid Sans', sans-serif;
    display: block;
    width: 100%;
    font-size: responsive 40px 70px;  
    text-align: center;
    margin: .5em 0;
  }
  
  
  #work-cards {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    align-content: center;
    align-items: center;
    overflow: hidden;

    .card { // active
      opacity: 0.001;
      transform: scale(0.9) translate(-250px, -50px);
      transition: 250ms all ease-out;
    }

    .card.active {
      transform: scale(1) translate(0, 0);
      opacity: 1;
    }

    .card {

      margin: 12px;
      padding: 12px;
      padding: 0;
      width: 300px;
      height: 400px;
      box-sizing: border-box;
      background-color: black;
      color: white;
      padding: 10px;
      .card-top {
        position: relative;
        height: 60%;
        overflow: hidden;
        
        .card-background {
          display: block;
        }
        
        .card-background.active {
          filter: grayscale(0);
        }
        
        .card-title {
          width: 100%;
          padding: 3px 0;
          background: rgba(0, 0, 0, 0.3);
          position: absolute;
          bottom: 0;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.86);
          color: white;
          font-family: 'Droid Sans', sans-serif;
          font-size: 35px;
        }
        
      }
      
      .card-bottom {
        height: 40%;
        position: relative;
        .card-description {
          font-family: Arial;
          font-size: 18px;
        }
        
        .card-button {
          display: block;
          text-decoration: none;
          color: inherit;
          width: 100%;
          padding: 12px;
          text-align: center;
          text-transform: uppercase;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          color: white;
          background-color: rgb(0, 200, 83);
          position: absolute;
          bottom: 20px;
          &:active {
            background-color: #0A8E41;
          }
          
        }
        
      }
      
    }
    
    
  }
  
}